<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>TodoApp</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/todo/css/styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/generics/css/styles.css') }}">
</head>
<body>

{% include 'navbar.html' %}

<div>
  {% if msg %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
      <span class="block sm:inline">{{ msg }}</span>
    </div>
  {% endif %}
</div>

<main class="mt-24">
  {% block content %} {% endblock  content %}
</main>


</body>
</html>
