<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>TodoApp</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/todo/css/styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/generics/css/styles.css') }}">
</head>
<body>

{% include 'navbar.html' %}

<main class="mt-24">
  {% block content %} {% endblock  content %}
</main>


</body>
</html>
